/* Global Values  */
:root {
	--main-black: #1f2021;
	--column-Grey: #353235;
	--Side-blue: #0f748f;
	--font-Blue: #00c7fc;
	--font-Grey: #b0acae;
	--border-Grey: #636364;
	--bar-grey: #dedadc;
	--bar-perc-background: #353235;
	--font-blue-half: rgba(0, 199, 252, 0.5);
}

/* Setting Font and box-sizing  */
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Start Components  */

/* Styling every container  */
.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.section-container {
	width: 70%;
	margin: 50px auto;
}
@media (max-width: 768px) {
	.section-container {
		width: 100%;
	}
}
/* Styling the overlay  */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Styling every blue text box  */
.blue-text-box {
	background-color: var(--font-blue-half);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: 55%;
}

/* Styling the h3  */
.blue-text-box>h3 {
	font-weight: 400;
}

/* Styling the paragraph  */
.blue-text-box>p {
	font-size: 0.7em;
	padding-right: 3px;
	line-height: 2;
}

@media (max-width: 768px) {
	.blue-text-box {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
}

/* Styling the three circles  */
.three-circles {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.three-circles>div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.three-circles>div:not(.second) {
	background-color: transparent;
	border: 1px solid white;
}

.three-circles>.second {
	background-color: var(--font-Blue);
}

/* underlined headers  */
.underlined-header {
	position: relative;
}

.underlined-header>h2 {
	font-weight: 400;
	margin-bottom: 20px;
}

.underlined-header::after {
	content: "";
	background-color: black;
	position: absolute;
	width: 75%;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: 100%;
}

.underlined-header::before {
	content: "";
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -45%);
	z-index: 3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-transform: translate(-50%, -45%);
	-moz-transform: translate(-50%, -45%);
	-ms-transform: translate(-50%, -45%);
	-o-transform: translate(-50%, -45%);
}

/* paragraph under those headers  */
.p-under-header {
	width: 50%;
	line-height: 2;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}

.p-under-header>p {
	font-size: 0.8em;
	color: var(--font-Grey);
}

/* Setting font color  */
.blue-text-box>* {
	color: white;
}

/* End Components  */

html {
	scroll-behavior: smooth;
}

/* Start Header  */


/* Styling the container of header and hello section  */
.head-and-hello-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-image: url(../images/head-background.jpg);
	background-size: cover;

}

/* Styling the header  */
header {
	width: 60%;
	height: fit-content;
	border-bottom: 2px solid var(--border-Grey);
	position: absolute;
	top: 0;
	z-index: 2;
}

/* Styling the image  */
header>div>.img-container>img {
	min-width: 100%;
	height: auto;
}

/* Styling the image container  */
header>div>.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	margin-right: 100px;
}

/* Stying the flex-container */
header>.flex-container {
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 0px;
	flex-wrap: nowrap;
}

/* styling the nav bar  */
nav {
	max-width: 100%;
	height: 100%;
}

/* Styling the list  */
.head-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10%;
}

/* Styling list items  */
.head-list>li>a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 0.6em;
	position: relative;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

/* changing the color of a hovered icon to blue  */
.head-list>li:hover>a {
	color: var(--font-Blue);

}

.head-list>li {
	position: relative;
	padding-right: 20px;
}

.head-list>li>a::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -130%;
	transform: translateX(-50%);
	height: 2px;
	width: 0;
	background-color: var(--font-Blue);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transition: width 0.3s ease;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-ms-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
}

.head-list>li>a:hover::before {
	width: 150%;
}

/* Styling the right side part  */
.right-side>a>i {
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.right-side {
	margin-left: 20px;
	width: 50px;
	height: 20px;
	position: relative;
	border-left: 1px solid white;
}

.right-side>a:hover>i {
	color: var(--font-Blue);
}

/* bars icon  */
.bars {
	display: none;
}

/* Media Queries */

/* For screens smaller than 768px */
@media (max-width: 768px) {
	header {
		height: fit-content;
		width: 100%;
	}

	header>div>.img-container {
		width: 40%;
		margin: auto
	}

	.flex-container {
		flex-direction: row;
		padding: 0 !important;
		margin: 0;
	}

	.right-side>a>i {
		position: relative;
	}

	.right-side {
		border: none;
		padding: 0;
		margin-left: 30px;
	}

	.head-list {
		display: none;
	}

	.head-list>li {
		padding-bottom: 10px;
		padding-left: 20px;
		font-size: 1.5em;
	}

	/* bars icon  */
	.bars {
		display: inline-block;
		color: white;
	}

	.bars:hover+.head-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		position: absolute;
		top: calc(100% - 15px);
		left: 0%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/* For screens between 769px and 1249px */
@media (min-width: 769px) and (max-width: 1249px) {
	.flex-container {
		padding-right: 0px !important;
		/* Adjust as needed */
	}

	header>div>.img-container {
		width: 10%;
	}

	.head-list {
		padding-left: 0px !important;
		/* Adjust as needed */
	}

	.head-list>li {
		padding: 5px !important;
	}

	.head-list>li>a::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -180%;
		transform: translateX(-50%);
		height: 2px;
		width: 0%;
		background-color: var(--font-Blue);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	.head-list>li>a:hover::before {
		width: 125%;
	}
}

/* For screens larger than or equal to 1250px */
@media (min-width: 1250px) {
	/* Add your specific styles for large screens here */
}

/* End Header  */

/* Start Hello section  */

/* styling the container  */
.hello-section {
	width: 100%;
	height: 900px;
	position: relative;
}

/* styling the blue text box */
.hello-world {
	padding: 20px 20px 60px 25%;
}

/* Styling the three circles  */
.three-circles {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.three-circles>div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.three-circles>div:not(.second) {
	background-color: transparent;
	border: 1px solid white;
}

.three-circles>.second {
	background-color: var(--font-Blue);
}

/* Styling the arrows  */
.hello-section>.overlay>.arrows {
	color: white;
	font-size: 2em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.hello-section>.overlay>.right {
	right: 30px;
}

.hello-section>.overlay>.left {
	left: 30px;
}

/* Media Queries */

/* For screens smaller than 768px */
@media (max-width: 768px) {
	.arrows {
		display: none;
	}
}

/* End Hello Section  */

/* Start Services Section  */

/* styling the container  */

/* styling the four sections  */

/* styling the container  */
.four-sections {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* styling each div  */
.four-sections>.section {
	flex-basis: calc(50% - (10% + 30px));
	margin-bottom: 40px;
}

/* styling the h3s  */
.four-sections>.section>h3 {
	color: var(--font-Blue);
	font-weight: 400;
}

/* styling the Ps  */
.four-sections>.section>p {
	color: var(--font-Grey);
	font-size: 0.7em;
	width: 90%;
}

/* styling the icons  */
.four-sections>.icon-section {
	flex-basis: 10%;
	align-self: flex-start;
	margin-top: 20px;
}

.four-sections>.icon-section>i {
	font-size: 2em;
}

/* Media Queries  */

@media (max-width: 768px) {
	.four-sections {
		flex-direction: column;
	}
}

@media (min-width: 769px) and (max-width: 970px) {
	.four-sections>.section {
		flex-basis: calc(50% - (10% + 10px));
		margin-bottom: 40px;
	}
}

/* End Services  */

/* styling the container  */
.designs {
	position: relative;
	width: 100%;
	height: 600px;
	background-image: url(../images/designs-background.jpg);
	background-size: cover;
	overflow: hidden;
}

/* styling the blue text box  */
.designs>.overlay>.designs-text-box {
	right: 0;
	padding: 30px 60px;
}

/* styling the header inside  */
.designs>.overlay>.designs-text-box>h3 {
	font-weight: 400;
	margin-bottom: 40px;
}

/* styling the four items section  */
.four-screens {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

/* styling each item and its contents  */
.four-screens>.section {
	flex-basis: 100%;
}

.four-screens>.section>i {
	display: inline-block;
	margin-right: 20px;
	font-size: 0.8em;
}

.four-screens>.section>p {
	display: inline-block;
	font-size: 0.9em;
}

/* styling the two phones  */
.two-phones>.pink-phone {
	max-width: 12%;
	position: absolute;
	bottom: -10%;
	left: 26%;
}

.two-phones>.blue-phone {
	max-width: 25%;
	position: absolute;
	bottom: -10%;
	left: 12%;
	z-index: 3;
}

/* Media Queries  */

@media (max-width: 768px) {
	.two-phones>img {
		display: none;
	}

	/* .designs-text-box {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	} */
}

/* End Designs Section  */

/* Start Portfolio  */

/* styling the five buttons container  */
.five-buttons {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/* styling each choice  */
.five-buttons>.choice {
	padding: 10px 20px;
	margin-right: 10px;
	font-size: 0.8em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/* hover effect  */
.five-buttons>.choice:hover {
	background-color: var(--font-Blue);
	color: white;
}

/* Media Queries  */
@media (max-width: 768px) {
	.five-buttons {
		flex-direction: column;
	}

	.five-buttons>.choice {
		margin-bottom: 20px;
	}
}

/* styling the photos container  */
.photos-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

/* styling images  */
.photos-container>div {
	max-width: 25%;
	position: relative;
}

.photos-container>div>.img-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.photos-container>div>.img-container>img {
	max-width: 100%;
}

/* styling info div  */
.img-info-container>.info {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	padding: 10px 20px;
	display: none;
}

.img-info-container>.info>h2 {
	font-weight: 400;
	font-size: 0.7em;
}

.img-info-container>.info>h3 {
	font-weight: 400;
	font-size: 0.6em;
	color: var(--font-Blue);
}

/* hovering style  */
/* showing the info div  */
.img-info-container>.img-container:hover+.info {
	display: block;
}

/* plus sign styling  */
.img-info-container>.img-container:hover::before {
	content: "";
	background-color: var(--font-Blue);
	opacity: 0.8;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 35px);
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.img-info-container>.img-container:hover::after {
	content: "+";
	color: white;
	font-weight: 100;
	font-size: 4em;
	position: absolute;
	top: calc(50% - 35px);
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* More button  */
.more-button {
	margin: 50px auto;
}

.more-button>button {
	padding: 5px 50px;
	color: white;
	background-color: var(--font-Blue);
	outline: none;
	border: none;
}

/* Media Queries  */
@media (max-width: 768px) {
	.photos-container>div {
		max-width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.photos-container>div {
		max-width: 50%;
	}
}

/* End Portfolio  */

/* Start Video Section  */

/* styling the container  */
.video-section {
	margin-top: 80px;
	position: relative;
	background-image: url(../images/video-background.jpg);
	background-size: cover;
	width: 100%;
	height: 600px;
}

/* styling the blue text box  */
.video-section>div>.video-blue-box {
	width: 100%;
	text-align: center;
	padding: 50px 0;
}

/* styling the button  */
.video-section>div>.video-blue-box>button {
	border: none;
	background-color: var(--main-black);
	color: white;
	padding: 10px 40px;
	margin-top: 30px;
	font-size: 0.8em;
}

/* End Video Section  */


/* Start About  */

/* styling the container  */
.about {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.three-devices>img {
	position: absolute;
}

.three-devices>.laptop {
	max-width: 50%;
	left: 25%;
	top: 50%;
}

.three-devices>.tablet {
	max-width: 30%;
	left: 15%;
	top: 75%;
}

.three-devices>.phone {
	max-width: 20%;
	left: 62%;
	top: 75%;
}

/* Media Queries  */

@media (max-width: 768px) {
	.three-devices>img {
		display: none;
	}

	.about {
		height: fit-content;
	}
}

/* End About  */

/* Start Stats  */
/* styling the container  */
.stats {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url(../images/stats-background.jpg);
	background-size: cover;
}

/* styling the box  */
.stats-box {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--font-blue-half);
	padding: 30px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* styling each column  */
.stats-box>.stat-column {
	flex-basis: calc(25% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* styling each item inside the columns  */
.stats-box>.stat-column>* {
	color: white;
}

.stats-box>.stat-column>.icon-wrapper>i {
	z-index: 3;
	font-size: 0.6em;
}

.stats-box>.stat-column>.icon-wrapper {
	position: relative;
	z-index: 3;
}

.stats-box>.stat-column>.icon-wrapper::before {
	content: "\2B22";
	color: rgba(0, 0, 0, 1);
	font-size: 2em;
	position: absolute;
	transform: translate(-33%, -20%);
	z-index: -1;
	-webkit-transform: translate(-33%, -20%);
	-moz-transform: translate(-33%, -20%);
	-ms-transform: translate(-33%, -20%);
	-o-transform: translate(-33%, -20%);
}

.stats-box>.stat-column>h2 {
	font-size: 1.5em;
	font-weight: 800;

}

.stats-box>.stat-column>p {
	font-size: 0.6em;
}

/* Media Queries  */

@media (max-width: 768px) {
	.stats {
		height: 500px;
	}
	
	.stats-box {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.stats-box>.stat-column {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.stats-box>.stat-column>h2 {
		font-size: 1.5em;
		flex-basis: 30%;
	}
	.stats-box>.stat-column>i {
		font-size: 1.2em;
		flex-basis: 30%;
	} 
	.stats-box>.stat-column>p {
		font-size: 1em;
		flex-basis: 40%;
	}
}

/* End Stats  */

/* Start Testimonials  */

/* Styling the containers  */
.testimonial-section {
	width: 100%;
}

.testimonial-skills-container {
	width: 60%;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

/* styling the headers  */
.testimonial-skills-container>div>h3 {
	font-weight: 400;
	font-size: 1em;
}

.testimonial-skills-container>div>.p-under-header {
	width: 100%;
}

/* styling childs  */
.testimonial-skills-container>div {
	flex-basis: calc(50% - 40px);
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/* styling the quotes container  */
.quotes-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* styling each quote  */
.quote {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 20px;
}
/* styling the images  */
.quote>.img-container>img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
/* styling each paragraph  */
.quote > div > p {
	font-size: 0.6em;
	line-height: 2;
	padding-bottom: 20px;
}
.quote > .paragraph { 
	margin-left: 60px;
	border-bottom: 2px solid var(--main-black);
	position: relative;
}
.quote > .paragraph::after {
	content: "John Doe,CEO";
	color: var(--font-Grey);
	font-style: italic;
	font-size: 0.6em;
	position: absolute;
	right: 0;
	bottom: 10px;
}
/* styling the three circles  */
.testimonials > .three-circles>div:not(.second) {
	border-color: var(--font-Grey);
}
.testimonials > .three-circles {
	bottom: -15%;
	left: 62.5%;
}

/* styling the skills section  */

/* styling the four bars container  */
.skills > .four-bars {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
/* styling each bar container  */
.skills > .four-bars > .bar-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
/* styling the header of each bar  */
.bar-container > h5 {
	font-weight: 600;
	font-size: 0.6em;
	align-self: flex-start;
}
/* styling each bar  */
.bar-container > .bar {
	width: 100%;
	height: 20px;
	position: relative;
}
.bar-container > .nine-five {
	background-image: linear-gradient(to right, var(--font-Blue) 95%, var(--bar-grey) 95%);
}
.bar-container > .nine-three {
	background-image: linear-gradient(to right, var(--font-Blue) 93%, var(--bar-grey) 93%);
}
.bar-container > .eight-five {
	background-image: linear-gradient(to right, var(--font-Blue) 85%, var(--bar-grey) 85%);
}
.bar-container > .eight-seven {
	background-image: linear-gradient(to right, var(--font-Blue) 87%, var(--bar-grey) 87%);
}

/* styling the bar percentage div  */
.bar-container > div > .percentage {
	background-color: var(--bar-perc-background);
	font-size: 0.8em;
	color: white;
	padding: 5px;
	position: absolute;
	bottom: 150%;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}
/* positioning each percentage  */
.bar-container > .nine-five > .percentage {
	right: 5%;
}
.bar-container > .nine-three > .percentage {
	right: 7%;
}
.bar-container > .eight-five > .percentage {
	right: 15%;
}
.bar-container > .eight-seven > .percentage {
	right: 13%;
}
/* styling the arrow  */
.bar-container > div > .percentage::after {
	content: "";
	width: 0;
	border: 8px solid transparent;
	border-top-color: var(--bar-perc-background);
	position: absolute;
	left: 50%;
	bottom: -60%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

/* Media Queries  */
@media (max-width: 768px) {
	.testimonial-skills-container {
		flex-direction: column;
	}
	.testimonials > .three-circles {
		bottom: -10%;
		left: 50%;
	}
	.skills {
		margin-top: 80px;
	}
	.quote {
		flex-direction: column;
	}
	.quote > div > p {
		font-size: 0.8em;
	}
	.quote > .paragraph {
		margin-left: 0;
	}
	.bar-container > h5 {
		font-size: 0.8em;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.quote > div > p {
		font-size: 0.8em;
	}
	.bar-container > h5 {
		font-size: 0.8em;
	}
	.testimonial-skills-container {
		flex-direction: column;
	}
	.skills {
		margin-top: 80px;
	}
}

/* End Testimonials  */


/* Start Quote  */

.random-quote {
	width: 100%;
	height: 600px;
	position: relative;
	background-image: url(../images/random-quote.jpg);
	background-size: cover;
}
.random-quote > div > .quote-container {
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
.random-quote > div > div > .paragraphs-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.random-quote > div > div > .paragraphs-container > * {
	color: white;
	padding: 10px 20px;
	line-height: 1.6;
	text-align: center;
}
.random-quote > div > div > .paragraphs-container> q {
	font-size: 1.125em;
	font-weight: 600;
	margin-bottom: 0;
}
.random-quote > div > div > .paragraphs-container> q::before {
	content: "\f10d";
	font-family: "Font Awesome 6 Free";
	margin-right: 10px;

}
.random-quote > div > div > .paragraphs-container> q::after {
	content: "\f10e";
	font-family: "Font Awesome 6 Free";
	margin-left: 10px;
}
.random-quote > div > div > .paragraphs-container> p:last-child {
	font-size: 0.8em;
	margin-top: 0;
}

/* Media Queries  */
@media (max-width: 768px) {
	.random-quote > div > div > .paragraphs-container> q {
		font-size: 1em;
	}
	.random-quote > div > div > .paragraphs-container> p:last-child {
		font-size: 0.8em;
	}
}

/* End Quote  */

/* Start Pricing  */

.pricing {
	text-align: center;
	color: var(--main-black);
}
.pricing-table {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.pricing-table > .col {
	flex-basis: calc(25% - 20px);
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}
.pricing-table > .col > .head {
	border: 2px solid var(--font-Blue);
	border-right: none;
	border-left: none;
	width: 100%;
}
.pricing-table > .col > .head > p {
	text-transform: uppercase;
	margin-top: 30px;
}
.pricing-table > .col > .head > h2 {
	margin-top: 0;
	font-size: 3em;
	position: relative;
}
.pricing-table > .col > .head > h2::before {
	content: "$";
	position: absolute;
	top: 10%;
	left: 20%;
	font-size: 0.4em;
}
.pricing-table > .col > .head > h2::after {
	content: "/MO";
	position: absolute;
	bottom: 10%;
	right: 15%;
	font-size: 0.25em;
}
.pricing-table > .col > .feature:not(:nth-last-child(2)) {
	margin: 0 auto;
	border-bottom: 2px solid var(--font-Blue);
}
.pricing-table > .col > .feature:nth-last-child(2) {
	margin: 0 auto 10px;
	border-bottom: 2px solid var(--font-Blue);
	width: 100%;
}
.pricing-table > .col > .feature > p {
	font-size: 0.9em;
	padding: 0 10px;
	margin: 20px 0;
}
.pricing-table > .col > .button {
	margin-top: 30px;
}
.pricing-table > .col > .button > button {
	padding: 10px 25px;
	background-color: white;
	border: 2px solid var(--font-Blue);
	font-size: 0.9em;
}
.pricing > div > .contact > p {
	margin-bottom: 40px;
}
.pricing > div > .contact > button {
	padding: 15px 40px;
	background-color: var(--font-Blue);
	color: white;
	border: none;
}

/* Media Queries  */
@media (max-width: 359px) {
	.pricing-table > .col {
		flex-basis: 100%;
	}
	.pricing-table > .col > .head > h2::before {
		left: 20%;
	}
	.pricing-table > .col > .head > h2::after {
		right: 15%;
	}
}
@media (min-width: 360px) and (max-width: 768px) {
	.pricing-table > .col {
		flex-basis: 100%;
	}
	.pricing-table > .col > .head > h2::before {
		left: 30%;
	}
	.pricing-table > .col > .head > h2::after {
		right: 25%;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.pricing-table > .col {
		flex-basis: calc(50% - 20px);
	}
	.pricing-table > .col > .head > h2::before {
		left: 30%;
	}
	.pricing-table > .col > .head > h2::after {
		right: 25%;
	}
}


/* End Pricing  */

/* Start Mail  */
.mail {
	position: relative;
	width: 100%;
	background-image: url(../images/mail-background.jpg);
	background-size: cover;
	height: 400px;
}
.mail > .overlay {
	height: 100%;
}
.mail > .overlay > .container {
	height: 100%;
}
.mail-section {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.mail-section > .form {
	border: 1px solid white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	flex-basis: calc(60% - 30px);
}
.mail-section > .form > .email {
	background-color: transparent;
	border: none;
	padding: 16px;
	font-size: 0.7em;
	color: white;
	font-family: "Open Sans", "FontAwesome", sans-serif;
	flex-basis: 85%;
	text-align: left;
}
.mail-section > .form > .button {
	padding: 18px;
	background-color: var(--font-Blue);
	color: white;
	font-size: 0.7em;
	border: none;
	text-align: center;
	flex-basis: 15%;
}
.mail-section > p {
	color: white;
	font-size: 0.7em;
	line-height: 1.8;
	flex-basis: calc(40% - 30px);
	margin-left: 30px;
}

/* Media Queries  */

@media (max-width: 992px) {
	.mail-section {
		width: 100%;
		align-items: center;
	}
	.mail-section > .form {
		width: 100%;
		margin-top: 100px;
		flex-basis: 100%;

	}
	.mail-section > p {
		font-size: 1em;
		text-align: center;
		margin: 0;
		margin-top: -120px;
		flex-basis: 100%;
	}
}

/* End Mail  */

/* Start Contact Us  */
.contact-us {
	height: 800px;
}
/* styling form section  */
.form-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	justify-content: space-between;
}
.form-section > .form {
	flex-basis: calc(70% - 30px);
	height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 50px;
}
.form-section > .form > * {
	flex-basis: 100%;
	padding: 15px 20px;
}
.form-section > .form > .text-box {
	height: 60%;
	resize: none;

}
.labels {
	position: relative;
	flex-basis: calc(30% - 30px);
	align-self: flex-start;
}
.labels > .lbl {
	margin-bottom: 60px;
}
.labels > .lbl > p {
	margin-top: 0;
}
.labels > .lbl > .black {
	text-transform: uppercase;
}
.labels > .lbl > .grey {
	line-height: 1.8;
	color: var(--font-Grey);
	font-size: 0.8em;
}

.form-section > .form > .button {
	flex-basis: 30%;
	align-self: flex-end;
	background-color: var(--font-Blue);
	color: white;
	border: none;
	text-transform: uppercase;
}

/* Media Queries  */

@media (max-width: 768px) {
	.form-section > .form {
		flex-basis: 100%;
		justify-content: center;
	}
	.form-section > .labels {
		flex-basis: 100%;
		text-align: center;
	}
	.contact-us {
		height: fit-content;
	}
}

/* End Contact Us  */

/* Start Footer  */

footer {
	width: 100%;
	height: 350px;
	background-image: url(../images/footer-background.jpg);
	background-size: cover;
	position: relative;
}
.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
/* Styling the image  */
footer>div>.img-container>img {
	min-width: 100%;
	height: auto;
}

/* Styling the image container  */
footer>div>.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8%;
	margin-bottom: 30px;
}

footer > div > .p-container {
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	padding: 0 30px;
	border-bottom: 2px solid white;
	margin-bottom: 30px;
}
footer > div > .icons > a {
	text-decoration: none;
	color: white;
	margin-right: 20px;
	font-size: 0.8em;
}

footer > .copyright {
	color: white;
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
footer > .copyright > span {
	color: var(--font-Blue);
}

/* Media Queries  */

@media (max-width: 768px) {
	footer {
		height: 250px;
	}
	footer > div > .img-container {
		width: 20%;
		margin-bottom: 10px;
	}
	footer > div > .p-container {
		margin-bottom: 10px;
	}
}